@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: NeueMontreal-regular;
    src: url(./assets/Fonts/NeueMontreal-Regular.otf);
}





*{
    font-family: NeueMontreal-regular;
}

html {
    scroll-behavior: smooth;
  }


.red-HL{
    color: #ff3131;
    font-weight: 800;
}

.black-HL{
    color: black;
    font-weight: 800;
}

.blue-HL{
    color:#383DAD;
    font-weight: 800;
}

/* ======== NAVIGATION BAR ========= */
.navBarSections{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    height: 2rem;
}








/* ========= HERO SECTION ========== */
@media (max-height:816px) {
    
    .heroSection-pic2{
        display: none;
    }
    .heroSection-pic1{
        position: absolute;
        right: 2rem !important;
        top: 20% !important;
        

    }

    .heroSection-main{
        height: 85vh;
    }
}

@media (max-width:1500px) {
    .heroSection-pic2{
        display: none;
    }

    .heroSection-pic1{
        position: absolute;
        right: 2rem !important;
        top: 20% !important;
        
    }
}




/* =========== GALLERY ================= */
.Gallery-masonry-style{
    columns: 400px;
}

.Gallery-indivisual-styles{
    margin-bottom: 1rem;
    border: 2px solid black;
}




/* ================================ VERSION 2 =========================== */

:root{
    --lastekBlue: #383DAD;
    --red: #ff3131;
    --grey: #D9D9D9;
    --lighterGrey: #f3f3f3;
    --darkGrey: #2E2E2E;
    --white: #ffffff;
}


/* .active{
    background-color: var(--lastekBlue);
    color: white;
    transition: ease-in 200ms;
    border-radius: 3px;
} */



@media (min-height:700px) {

    .heroSectionWriting{

        margin-top: 5rem;

    }

    .heroSectionImg3{
        height: 38rem !important;
    }
}


@media (min-height:738px) {

    .heroSectionWriting{

        margin-top: 6rem;

    }


    .heroSectionImg3{
        height: 40rem !important;
    }

    .heroSectionImg2{
        height: 26rem !important;
    }
}


@media (min-height:768px) {

    .heroSectionWriting{

        margin-top: 7rem;

    }
}


@media (min-height:830px) {

    .heroSectionWriting{

        margin-top: 9rem;

    }


    .heroSectionImg3{
        height: 44rem !important;
    }
}





/* ================ ANIMATION ============ */


.ls{
    font-family: League Spartan;
  }

.blackAnimationBackground{
    background-image: url(./assets/Version2/animationBlack.svg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: center;
}

.TextToAnimate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bigRed{
    background-color: rgba(255, 0, 0,1)
}