@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: NeueMontreal-regular;
    src: url(./assets/Fonts/NeueMontreal-Regular.otf);
}

*{
    font-family: NeueMontreal-regular;
}

html {
    scroll-behavior: smooth;
  }

/* ======== NAVIGATION BAR ========= */
.navBarSections{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    height: 2rem;
}








/* ========= HERO SECTION ========== */
@media (max-height:816px) {
    
    .heroSection-pic2{
        display: none;
    }
    .heroSection-pic1{
        position: absolute;
        right: 2rem !important;
        top: 20% !important;
        

    }

    .heroSection-main{
        height: 85vh;
    }
}

@media (max-width:1500px) {
    .heroSection-pic2{
        display: none;
    }

    .heroSection-pic1{
        position: absolute;
        right: 2rem !important;
        top: 20% !important;
        
    }
}

